@use '@styles/mixins';
@use '@styles/vars';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(119deg, #00144f 10%, #004e7b 35%, #0b7589 57%, #1ac5bf 83%, #2efef2);

  > img {
    left: 40px;
    pointer-events: none;
    position: absolute;
    top: 40px;
    z-index: 1;

    @include mixins.respond-less(vars.$screen-xs) {
      filter: invert(1);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 25px -5px rgba(0, 0, 0, 0.15);
  max-width: 424px;
  padding: 3rem;
  position: relative;

  @include mixins.respond-less(vars.$screen-xs) {
    border-radius: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 1rem;
  }

  &-title {
    color: #0c1831;
    pointer-events: none;
    user-select: none;
    font-family: Hellix;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 1.17;
    margin-bottom: 24px;
  }

  &-button {
    align-items: center;
    appearance: none;
    background-color: #a7f5ef;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #0c1831;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: Roobert;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.3;
    margin: 28px 0 24px;
    outline: 0;
    padding: 14px 12px;
    text-align: center;
    transition: opacity 0.12s ease;
    width: 100%;

    &-disabled {
      background-color: #f7f7f8;
      color: #b3b6bb;
      cursor: default;
      pointer-events: none;
    }
  }

  &-tos {
    color: #717782;
    font-size: 11px;
    letter-spacing: 0.2px;
    font-family: Roobert;
    line-height: 1.5;
    margin-bottom: -1px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    > a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
