@use '@styles/mixins';
@use '@styles/vars';

.root {
  gap: 40px;
}

.sidebar {
  box-shadow: 0px 3px 25px -15px rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  width: 77px;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(129, 121, 234, 1) 0%, rgba(77, 5, 79, 1) 81%, rgba(3, 0, 80, 1) 100%);
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  > a:first-of-type {
    margin-top: 24px;
    display: inline-block;
  }

  .button {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    width: 100%;
    color: #d7caff;

    svg {
      font-size: 24px;
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 32px;
  margin-left: 77px;
  padding: 0 40px;

  @include mixins.respond-less(vars.$screen-md) {
    flex-direction: column;
  }

  &-left {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 32px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 408px;

    @include mixins.respond-less(vars.$screen-md) {
      width: 100%;
    }
  }
}

.row {
  display: flex;
  gap: 32px;
  width: 100%;

  @include mixins.respond-less(vars.$screen-lg) {
    flex-direction: column;
  }
}

.widget {
  box-shadow: 0 2px 20px 0 RGBA(0, 0, 0, 0.06);
  border-radius: 16px;
  background-color: #fff;
  padding: 24px;
  display: flex;
  width: 100%;

  @include mixins.respond-less(vars.$screen-md) {
    width: 100%;
  }

  &-gradient {
    color: #fff;
    background: rgb(102, 61, 153);
    background: linear-gradient(
      270deg,
      rgba(102, 61, 153, 1) 0%,
      rgba(106, 70, 165, 1) 44%,
      rgba(195, 131, 255, 1) 100%
    );
  }
}

.preventableCosts {
  width: 100%;
  height: 152px;
}

.accidentRiskReduction {
  width: 100%;
  height: 516px;
}

.speedCosts {
  //width: 404px;
  height: 400px;
}

.idleCosts {
  //width: 404px;
  height: 400px;
}

.highlights {
  height: 104px;
}

.drivingHours {
  height: 328px;
}

.drivingDistance {
  height: 328px;
}
